.corp-stats {
  width: 28.5714285714%;
  background-image: linear-gradient(
    to right,
    #838383,
    #8e8e8e 20%,
    #828282 85%
  );
  padding: 0 2vw;
}
.is-certified {
  height: 17.5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #bdf7ff;
  padding-bottom: 1.5vh;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3vw;
}
.score {
  font-size: 2vw;
  color: #bdf7ff;
  font-weight: 600;
  text-shadow: #95f3ff 0 0 1vw, #95f3ff 0 0 0.8vw;
  width: 6vw;
  text-align: center;
  user-select: none;
  margin-top: 1.5vh;
}
.score-detail {
  margin-top: 3vh;
  font-size: 1.5vh;
  height: max-content;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
}

.score-cols {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.score-cols p {
  margin-left: 0 !important;
}
.score-numbers p {
  text-align: end;
}
.score-cols p {
  font-size: 1vw;
  margin-bottom: 3.7vh;
}
.score-cols:last-child {
  max-width: max-content;
}

.svg_score_vertical {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
}
.svg_score_vertical svg {
  width: 1.4vw;
  margin-top: 0.2vh;
}

.score_types p:nth-child(2) {
  color: #c7ffef;
  font-size: 0.6vw;
  margin-bottom: 5vh;
  margin-top: 0.6vh;
}

.score_types p:last-child {
  color: #e0e0e0;
  font-size: 0.6vw;
}

.score-nr {
}

.b-corp-score_nr {
}

.ordinary-score-nr {
}

.badges {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*width: 18.75vw;*/
  height: 28vh;
  transition: 0.4s;
}
.extended {
  height: 49vh;
  transition: 0.4s;
}
.badge {
  background-color: #a7a9ac;
  border-radius: 2vw;
  position: relative;
  min-height: 13vh;
  height: 13vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vh 2vw;
  color: white;
  font-weight: 600;
  font-size: 1.5vw;
  transition: 0.4s;
  cursor: pointer;
  p {
    margin-left: 2vw;
    // width: 9vw;
    user-select: none;
  }
  &:last-child {
    margin-top: 2vh;
  }
  &:hover {
    box-shadow: inset 0 0 0.5em 0.2em #b9f9ff66;
    transition: 0.4s;
    box-shadow: 0 0 0.5em 0.2em #b9f9ff66;
    background-color: #aeb0b3;
    transform: scale(1.02);
  }
}
.extend-badge {
  height: 60vh; /*absurd value so it extends to max; 
  -webkit-fill-available would break transition effect */
  transition: 0.4s;
}

.badge-main-content {
  display: flex;
  flex-direction: row;
  // max-height: 7vh;
}

.fa-award {
  border-radius: 2vw;
  width: 4vw;
  height: 4vw;
  margin: 1vw;
  padding: 0.5vw;
  color: #bdf7ff;
  svg {
    width: 4vw;
  }
}
.svg-inline--fa.fa-w-12 {
  width: 4vw;
}
svg line {
  stroke: #ffffff;
  stroke-width: 4;
}
