.screen {
  background-image: linear-gradient(to bottom, #8e8e8e 75%, #868686);
  height: 75.5vh;
  display: flex;
  padding-left: 12.5%;
  margin-top: 10.5vh;
  flex-direction: row;
}
.margin-right-background {
  background-color: #8e8e8e;
  width: 14.2857142857%;
  box-shadow: inset 3vw 0 2vw -2vw #838383;
  user-select: none;
}
